.coin{
  padding: 20px 0;
  border: rgb(255, 196, 0) solid 1px;
  border-radius: 20px;
}

@media (min-width: 900px) {
  .coin{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
  }
}

.coin_left{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.coin_right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.coin_detailitem{
  margin-top: 10px;
  font-size: 16px;
}

@media (min-width: 900px) {
  .coin_detailitem{
    margin-top: 10px;
    font-size: 30px;
  }
}

.coin_image{
  height: 150px;
  width: 150px;
}

@media (min-width: 900px) {
  .coin_image{
    height: 250px;
    width: 250px;
  }
}

.coin_linklist{
  display: flex;
  flex-direction: column;
}
.coin_link{
  word-break:break-all;
}

.coin_btn{
  display: block;
  height: 50px;
  font-size: 16px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: rgb(255, 196, 0) solid 1px;
  border-radius: 5px;
  background-color: transparent;
}

.coin_btn:hover{
  background-color: rgb(255, 196, 0);
  cursor: pointer;
}