.coin_img{
  height: 30px;
  width: 30px;
}

.coin_h1{
  font-weight: 600;
}

.coin_red{
  color: #f00606;
}

.coin_green{
  color: #13c783;
}

.coin_tr:hover{
  background-color: rgba(255, 238, 0, 0.632);
  cursor: pointer;
}